.btn {
    background-color: inherit;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

.btn.btn-icon {
    display: grid;
    grid-template-columns: 20px 1fr;
    max-width: 200px;
    align-items: center;
    justify-items: center;
}

.btn.btn-icon svg {
    width: 20px;
    height: 20px;
}
.btn.btn-primary {
    background-color: var(--primary);
    width: 100%;
    color: var(--white);
}
.btn.btn-primary {
    background-color: var(--primary);
    width: 100%;
    color: var(--white);
}
.btn.btn-primary:hover {
    box-shadow: var(--box-shadow-primary);
}