a {
    color: red;
}
/* Pseudo Class */
a:hover {
    color: rgb(63, 160, 2);
}
ul li {
    color: rgb(240, 0, 196);
    border-bottom: 1px solid red;
    padding-bottom: 20px;
}
ul li:first-child {
    color:rgb(63, 160, 2);
}
ul li:last-child {
    color: orange;
    border-bottom: 0;
    padding-bottom: 0;
}
table {
    border-collapse: collapse;
}
table td {
    border: 1px solid gray;
    padding: 4px 8px;
}
table tr:nth-child(4) {
    background-color: rgb(0, 0, 0) !important;
    color: white;
}
table tr:nth-child(odd) {
    background-color: rgb(146, 255, 186);
}
table tr:nth-child(even) {
    background-color: rgb(98, 176, 255);
}