@import url('https://fonts.googleapis.com/css?family=Poppins:400');
@import '../sass-utils/variables';
@import '../sass-utils/mixins';

html {
    font-size: 100%;
}

body {
    background-color: $white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: $black;
}

p {
    margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 3rem 0 1.38rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    @include heading1;
}

h2 {
    @include heading2;
}

h3 {
    @include heading3;
}

h4 {
    @include heading4;
}

h5 {
    @include heading5;
}

small,
.text_small {
    @include small;
}