@import '../sass-utils/variables';
.btn {
    border: 1px solid $grayLight;
    border-radius: 4px;
    padding: 4px 12px;
    cursor: pointer;
    height: 40px;

    &--outline {
        background-color: $white;
    }
    &--texticon {
        display: grid;
        grid-template-columns: 20px 1fr;
        gap: 8px;
        align-items: center;
    }
    &--icon {
        display: grid;
        grid-template-columns: 20px 1fr;
        gap: 8px;
        align-items: center;
        img  {
            width: 25px;
        }
    }
    &--noborder {
        border: none;
    }
    &:hover {
        background-color: $grayLight;
        color: $white;
    }
}