.box {
    width: 100%;
    height: 100px;
    background-color: red;
    margin-bottom: 20px;
}
.card {
    border: 1px solid gray;
    padding: 10px;
    max-width: 700px;
    min-width: 300px;
    width: calc(100vw - 100px);
}

@media screen and (min-width: 700px) {
    .box {
        background-color: blue;
    }
}
@media screen and (min-width: 900px) {
    .box {
        background-color: rgb(17, 255, 45);
    }
}

/* Mobile First */