body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: rgba(0, 0, 0, 0.87);
}
html {
    font-size: 100%;
}
* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
p {
    margin-bottom: 1rem;
}
h1,
h2,
h3,
h4,
h5 {
    margin: 3rem 0 1.38rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    line-height: 1.3;
}
h1 {
    margin-top: 0;
    font-size: 1.802rem;
}
h2 {
    font-size: 1.602rem;
}
h3 {
    font-size: 1.424rem;
}
h4 {
    font-size: 1.266rem;
}
h5 {
    font-size: 1.125rem;
}
small,
.text_small {
    font-size: 0.889rem;
}

/* button */
.btn {
    background-color: inherit;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}
.btn.btn-icon {
    display: grid;
    grid-template-columns: 20px 1fr;
    max-width: 200px;
    align-items: center;
    justify-items: center;
}
.btn.btn-icon svg {
    width: 20px;
    height: 20px;
}

/* info-bar */
.info-bar {
    background-color: rgb(254, 221, 214);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}


@media screen and (max-width: 500px) {
    .info-bar {
        grid-template-columns: 1fr;
    }
}