body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: rgba(0, 0, 0, 0.87);
}

html {
    font-size: 100%;
}

* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

p {
    margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 3rem 0 1.38rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: 1.802rem;
}

h2 {
    font-size: 1.602rem;
}

h3 {
    font-size: 1.424rem;
}

h4 {
    font-size: 1.266rem;
}

h5 {
    font-size: 1.125rem;
}

small,
.text_small {
    font-size: 0.889rem;
}
a {
    color: rgba(0, 0, 0, 0.87);
}